@import '../../mixins';
@import '../../vars';

.skills {
  display: block;
  list-style: none;
  margin: 2rem auto;
  max-width: $breakpoint-tablet-landscape;
  padding: 0;
}

.skill-group {
  display: block;
  margin: 0;
  max-width: 100%;
  padding: 0;

  + .skill-group {
    margin-top: 2rem;
  }
}

.skill-name {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  max-width: 100%;
}

.skill-value {
  font-size: 1rem;
  margin: .25rem 0;
  max-width: 100%;
}

@include mixin-breakpoint-tablet {
  .skill-group {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .skill-name {
    flex: 0 0 auto;
    width: 25%;
  }

  .skill-value {
    flex: 0 0 auto;
    font-size: 1.25rem;
    font-weight: 300;
    width: 75%;
  }
}
