@import '../../mixins';
@import '../../vars';

.experience {
  box-sizing: border-box;
  list-style: none;
  margin: 1rem auto;
  max-width: $breakpoint-tablet-landscape;
  padding: 0;
}

.company {
  box-sizing: border-box;
  line-height: 1.2;
  list-style: none;
  margin: 2rem 0;
  padding: 0;

  + .company {
    margin-top: 4rem;
  }
}

.company-years {
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  max-width: 100%;
  padding-right: 1rem;
  white-space: nowrap;
}

.company-name {
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 1.5rem;
  font-weight: 400;
  margin: .25rem 0;
  max-width: 100%;
  padding-right: 1rem;
}

.company-location {
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
}

.position {
  box-sizing: border-box;
  flex: 0 0 auto;
  list-style: none;
  margin: 1rem 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.position-name {
  font-size: 1.25rem;
  font-weight: 300;
  margin: .5rem 0;
  padding: 0;
}

.achievements {
  margin: 0 2rem;
  padding: 0;
}

.achievement-text {
  box-sizing: border-box;
  list-style-type: disc;
  margin: .5rem 0;
  padding: 0;
}

@include mixin-breakpoint-tablet {
  .company {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .company-years,
  .company-name,
  .company-location {
    font-size: 1.5rem;
    margin: 0;
  }

  .company-years {
    width: 25%;
  }

  .company-name {
    width: 55%;
  }

  .company-location {
    width: 20%;
  }

  .position {
    flex: 0 1 100%;
  }

  .achievements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .achievement-text {
    flex: 0 0 auto;
    max-height: 100%;
    max-width: 100%;
    padding-right: 2rem;
    width: 50%;
  }
}
