$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;

$body-bg-color: #333;
$body-font-color: #fff;
$body-font-family: 'Open Sans', sans-serif;
$body-font-size: 12pt;

$link-font-color: #fff;
$link-visited-font-color: #cff;
$link-active-font-color: #9cf;

$top-bg-color: #36c;
$experience-bg-color: #66c;
$skills-bg-color: #069;
$education-bg-color: #063;

$copyright-bg-color: rgba(0, 0, 0, .5);
$nav-link-bg-color: rgba(0, 0, 0, .5);
