$breakpoint-tablet: 768px;

$body-bg-color: #333;
$body-font-color: #fff;
$body-font-family: 'Open Sans', sans-serif;
$body-font-size: 12pt;

$link-font-color: #fff;
$link-visited-font-color: #069;
$link-hover-font-color: #6cf;
$link-active-font-color: #036;

$top-bg-color: #39c;
$experience-bg-color: #66c;
$skills-bg-color: #069;
$education-bg-color: #396;

$nav-link-bg-color: rgba(0, 0, 0, .5);
