$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;

$body-bg-color: #333;
$body-font-color: #fff;
$body-font-family: 'Open Sans', sans-serif;
$body-font-size: 12pt;

$link-font-color: #fff;
$link-visited-font-color: #ccf;
$link-active-font-color: #99f;

$top-bg-color: #339;
$experience-bg-color: #639;
$skills-bg-color: #069;
$education-bg-color: #063;

$nav-link-bg-color: rgba(0, 0, 0, .5);
