@import '~@fontsource/open-sans/300.css';
@import '~@fontsource/open-sans/400.css';
@import '~@fortawesome/fontawesome-free/css/brands.min.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';
@import './vars';

body {
  background-color: $body-bg-color;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

.app-root {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  scroll-behavior: smooth;
  top: 0;
  width: 100%;
}
